
body{
	background-image: url('https://www.photohdx.com/images/2017/05/clean-deep-red-paper-texture-background.jpg');
	background-attachment: fixed;
	background-size: cover;
}
.princesseLogo{
	max-width:20rem;
	animation:pulse 5s infinite linear;
}
.cardPack{
	position: absolute;
	max-width:16rem;
	right:13rem;
	top:17rem;
	filter:drop-shadow(4px 4px 7px black);
}
#newGame{
	position:absolute;
	background-image:url('https://bobandsuewilliams.com/images/black-red-1.jpg');
	background-size: cover;
	left:36rem;
	top:17rem;
	color:white;
	width:10rem;
	height:3rem;
	border-style: solid;
	border-color: black;
	filter:contrast(2);
}
#newGame:hover{
	opacity:0.7;
	cursor:pointer;
}
#newGame::-moz-focus-inner{
	border:0;
}
.toggleButton{
	position:absolute;
	right:4.7rem;
	top:27rem;
	background-image:url('https://bobandsuewilliams.com/images/black-red-1.jpg');
	background-size: cover;
	color:white;
	width:10rem;
	height:3rem;
	border-style: solid;
	border-color: black;
}
.toggleButton::-moz-focus-inner{
	border:0;
}
.toggleButton:hover{
	opacity:0.8;
	cursor:pointer;
}
.emplacement1 {
	position: absolute;
	max-width:12rem;
	right:47rem;
	top:13rem;
	background-color: rgba(255, 255, 255, 0.1);
	filter:drop-shadow(3px 3px 4px black);
}
.emplacement2{
	position: absolute;
	max-width:12rem;
	right:47rem;
	top:30rem;
	background-color: rgba(255, 255, 255, 0.1);
	filter:drop-shadow(3px 3px 4px black);
}
.emplacement3{
	position: absolute;
	max-width:12rem;
	right:65rem;
	top:30rem;
	background-color: rgba(255, 255, 255, 0.1);
	filter:drop-shadow(3px 3px 4px black);
	margin-right:5rem;
}
.emplacement4{
	position: absolute;
	max-width:12rem;
	right:65rem;
	top:13rem;
	background-color: rgba(255, 255, 255, 0.1);
	filter:drop-shadow(3px 3px 4px black);
	margin-right:5rem;
}
#card > img{
	position: absolute;
	right:30rem;
	top:50rem;
	max-width:15rem;
	min-width:15rem;
}
#card5>img{
	position: absolute;
	right:50rem;
	top:50rem;
	min-width:15rem;
	max-width:15rem;
}
#card2>img {
	position: absolute;
	left:30rem;
	top:50rem;
	max-width:15rem;
	min-width:15rem;
	animation: play1B 5.6s forwards ;
}
#explode{
	position:absolute;
	right:48rem;
	top:27.6rem;
	max-width:16rem;
	animation:appear 5.9s forwards;
}
#explode2{
	position:absolute;
	left:36rem;
	top:17.6rem;
	max-width:10rem;
	animation:appear 5.9s forwards;
}
.welcomeLetters{
	position:absolute;
	left:65rem;
	top:28rem;
	width:2.7rem;
	animation:welcome1 5s forwards;
	filter:drop-shadow(0.2px 0.2px 0.1px black);
}
.particles{
	width:95%;
	max-height:100rem;
	opacity:0.2;
	position:absolute;
}


/* RESPONSIVE PC BECODE  */
@media screen and (max-width:1400px){
	.princesseLogo{
		max-width:10rem;
		animation:pulse 5s infinite linear;
	}
#card>img {
		position: absolute;
		right:30rem;
		top:20rem;
		min-width:10rem;
		max-width:10rem;
		animation: play1A 0.7s forwards linear;
	}
	#card5>img{
		position: absolute;
		right:23rem;
		top:23rem;
		min-width:7rem;
		max-width:7rem;
	}
	#card5{
		display:none;
	}
	#card2{
		display:none;
	}
#card2>img {
		position: absolute;
		left:15rem;
		top:0;
		min-width:10rem;
		max-width:10rem;
		animation: play1B 2s forwards ;
	}
	#card3{
		display:none;
	}
#card3>img {
		position: absolute;
		left:15rem;
		top:0;
		min-width:10rem;
		max-width:10rem;
		animation: play1C 5.6s forwards ;
	}
	#card4>img{
		position: absolute;
		display:none;
		right:36rem;
		top:0;
		min-width:10rem;
		max-width:10rem;
		animation: play1D 5.6s forwards ;
	}
	.cardPack{
		position: absolute;
		max-width:10rem;
		right:5rem;
		top:12rem;
	}
	#cardPack2{
		display:none;
	}
.emplacement1 {
	position: absolute;
	max-width:8rem;
	right:37rem;
	top:3rem;
	background-color: rgba(255, 255, 255, 0.1);
	filter:drop-shadow(3px 3px 4px black);
}
.emplacement2{
	position: absolute;
	max-width:8rem;
	right:37rem;
	top:20rem;
	background-color: rgba(255, 255, 255, 0.1);
	filter:drop-shadow(3px 3px 4px black);
}
.emplacement3{
	position: absolute;
	max-width:8rem;
	right:55rem;
	top:20rem;
	background-color: rgba(255, 255, 255, 0.1);
	filter:drop-shadow(3px 3px 4px black);
	margin-right:0;
}
.emplacement4{
	position: absolute;
	max-width:8rem;
	right:55rem;
	top:3rem;
	background-color: rgba(255, 255, 255, 0.1);
	filter:drop-shadow(3px 3px 4px black);
	margin-right:0;
}
#explode{
	position:absolute;
	right:38rem;
	top:17.6rem;
	max-width:10rem;
	animation:appear 5.9s forwards;
}
#explode2{
	position:absolute;
	left:23rem;
	top:17.6rem;
	max-width:10rem;
	animation:appear 5.9s forwards;
}
#explode3{
	position:absolute;
	left:23rem;
	top:8rem;
	max-width:10rem;
	animation:appear 5.9s forwards;
}
#explode4{
	position:absolute;
	right:38rem;
	top:8rem;
	max-width:10rem;
	animation:appear 5.9s forwards;
}
.welcomeLetters{
	position:absolute;
	left:39rem;
	top:16rem;
	width:2rem;
	animation:welcome 5s forwards;
}
.particles{
	width:95%;
	max-height:35rem;
	opacity:0.2;
	position:absolute;
	filter:drop-shadow(-3px -3px 4px green);
}

@keyframes play1A {
		0% {
				transform: scale(1.0);
				-webkit-transform: scale(1.0);
				right:20rem;
				bottom:32rem;
				opacity:0;
		}
		15%{
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
			right:20rem;
			bottom:8rem;
			opacity:1;
		}
		33%{
			transform:rotate(120deg);
		}
		66%{
			transform:rotate(240deg);
		}
		93%{
			opacity:1;
			right:28rem;
			top:14.1rem;
		}
		96%{
			transform: scale(0.85);
			-webkit-transform: scale(0.85);
			right:28rem;
			top:14.1rem;
		}
		100% {
			transform:rotate(360deg);
				transform: scale(0.7);
				-webkit-transform: scale(0.7);
				right:36rem;
				top:18.2rem;
		}
}
@keyframes play1B {
		0% {
				transform: scale(1.0);
				-webkit-transform: scale(1.0);
				right:20rem;
				bottom:32rem;
				opacity:0;
		}
		90%{
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
			left:7rem;
			bottom:8rem;
			opacity:0;
		}
		93%{
			opacity:1;
			left:12rem;
			top:14.1rem;
		}
		96%{
			transform: scale(0.85);
			-webkit-transform: scale(0.85);
			left:12rem;
			top:14.1rem;
			transform: rotate(180deg);
		}
		99%{
			transform: rotate(360deg);
		}
		100% {
				transform: scale(0.7);
				-webkit-transform: scale(0.7);
				left:21.3rem;
				top:18.2rem;
		}
}
@keyframes play1C {
		0% {
				transform: scale(1.0);
				-webkit-transform: scale(1.0);
				right:20rem;
				bottom:32rem;
				opacity:0;
		}
		90%{
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
			left:7rem;
			top:0;
			opacity:0;
		}
		93%{
			opacity:1;
			left:12rem;
			top:0.1rem;
		}
		96%{
			transform: scale(0.85);
			-webkit-transform: scale(0.85);
			left:12rem;
			top:0.1rem;
			transform: rotate(180deg);
		}
		99%{
			transform: rotate(360deg);
		}
		100% {
				transform: scale(0.7);
				-webkit-transform: scale(0.7);
				left:21.3rem;
				top:1.2rem;
		}
}
@keyframes play1D {
		0% {
				transform: scale(1.0);
				-webkit-transform: scale(1.0);
				right:20rem;
				top:0;
				opacity:0;
		}
		90%{
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
			right:20rem;
			top:0rem;
			opacity:0;
		}
		93%{
			opacity:1;
			right:28rem;
			top:0.1rem;
		}
		96%{
			transform: scale(0.85);
			-webkit-transform: scale(0.85);
			right:28rem;
			top:0.1rem;
			transform: rotate(180deg);
		}
		99%{
			transform: rotate(360deg);
		}
		100% {
				transform: scale(0.7);
				-webkit-transform: scale(0.7);
				right:36rem;
				top:1.2rem;
		}
}
@keyframes appear2{
	0%{
		opacity:0:
	}
	95%{
		opacity: 0;
	}
	100%{
		opacity:1;
	}
}
}
/*FIN RESPONSIVE PC BECODE */




@keyframes welcome1{
	0%{
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
	50%{
		transform:rotate(360deg);
		transform: scale(40.0);
		-webkit-transform: scale(40.0);
		opacity:1;
		left:56rem;
	}
	100%{
		transform: scale(40.0);
		-webkit-transform: scale(40.0);
		opacity:0;
			left:58rem;
	}
}
@keyframes welcome{
	0%{
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
	50%{
		transform:rotate(360deg);
		transform: scale(40.0);
		-webkit-transform: scale(40.0);
		opacity:1;
		left:39rem;
	}
	100%{
		transform: scale(40.0);
		-webkit-transform: scale(40.0);
		opacity:0;
			left:42rem;
	}
}


@keyframes appear{
	0%{
		opacity:0;
	}
	89%{
		opacity:0;
	}
	95%{
		opacity:0
	}
	96%{
		opacity:1;
	}
97%{
	opacity:1;
}
	98%{
		opacity:1;
	}
	99%{
		opacity:0;
	}
	100%{
		opacity:0;
	}
}
@keyframes pulse{
	0%{
		opacity:1;
	}
	50%{
		opacity:0.7;
	}
	100%{
		opacity:1;
	}
}
@keyframes play1 {
		0% {
				transform: scale(1.0);
				-webkit-transform: scale(1.0);
				right:32rem;
				opacity:0;
				top:36rem;
		}
		90%{
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
			right:32rem;
			opacity:0;
			top:36rem;
		}
		93%{
			opacity:1;
			right:32rem;
			top:36rem;
		}
		96%{
			transform: scale(0.85);
			-webkit-transform: scale(0.85);
			right:32rem;
			top:36rem;
			transform: rotate(180deg);
		}
		99%{
			transform: rotate(360deg);
		}
		100% {
				transform: scale(0.7);
				-webkit-transform: scale(0.7);
				right:45.5rem;
				top:27.4rem;
		}
}
