
body{
	background-image: url('https://www.photohdx.com/images/2017/05/clean-deep-red-paper-texture-background.jpg');
	background-attachment: fixed;
	background-size: cover;
}
.princesseLogo{
	max-width:20rem;
	animation:pulse 5s infinite linear;
}
.cardPack{
	position: absolute;
	max-width:16rem;
	right:13rem;
	top:17rem;
	filter:drop-shadow(4px 4px 7px black);
}
#newGame{
	position:absolute;
	background-image:url('https://bobandsuewilliams.com/images/black-red-1.jpg');
	background-size: cover;
	left:36rem;
	top:17rem;
	color:white;
	width:10rem;
	height:3rem;
	border-style: solid;
	border-color: black;
	filter:contrast(2);
}
#newGame:hover{
	opacity:0.7;
	cursor:pointer;
}
#newGame::-moz-focus-inner{
	border:0;
}
.toggleButton{
	position:absolute;
	right:15rem;
	top:43rem;
	background-image:url('https://bobandsuewilliams.com/images/black-red-1.jpg');
	background-size: cover;
	color:white;
	width:10rem;
	height:3rem;
	/* border-style: solid;
	border-color: black; */
}
.toggleButton::-moz-focus-inner{
	border:0;
}
.toggleButton:hover{
	opacity:0.8;
	cursor:pointer;
}
.focus:hover{
	opacity:0.8;
	cursor:pointer;
}
.emplacement1 {
	position: absolute;
	max-width:12rem;
	right:47rem;
	top:13rem;
	background-color: rgba(255, 255, 255, 0.1);
	filter:drop-shadow(3px 3px 4px black);
}
.emplacement2{
	position: absolute;
	max-width:12rem;
	right:47rem;
	top:30rem;
	background-color: rgba(255, 255, 255, 0.1);
	filter:drop-shadow(3px 3px 4px black);
}
.emplacement3{
	position: absolute;
	max-width:12rem;
	right:65rem;
	top:30rem;
	background-color: rgba(255, 255, 255, 0.1);
	filter:drop-shadow(3px 3px 4px black);
	margin-right:5rem;
}
.emplacement4{
	position: absolute;
	max-width:12rem;
	right:65rem;
	top:13rem;
	background-color: rgba(255, 255, 255, 0.1);
	filter:drop-shadow(3px 3px 4px black);
	margin-right:5rem;
}
#card > img{
	position: absolute;
	right:30rem;
	top:50rem;
	max-width:11rem;
	min-width:11rem;
	animation: play1 0.7s forwards linear;
}
#card5>img{
	position: absolute;
	right:50rem;
	top:50rem;
	min-width:15rem;
	max-width:15rem;
}
#card2>img {
	position: absolute;
	left:30rem;
	top:50rem;
	max-width:15rem;
	min-width:15rem;
	animation: play1B 5.6s forwards ;
}

.welcomeLetters{
	position:absolute;
	left:65rem;
	top:28rem;
	width:2.7rem;
	animation:welcome 5s forwards;
	filter:drop-shadow(0.2px 0.2px 0.1px black);
}
.particles{
	width:95%;
	max-height:100rem;
	opacity:0.2;
	position:absolute;
}
.looseBckg{
	position:absolute;
	right:0;
	left:0;
	padding-left:60rem;
	display:block;
	font-family: 'Wendy One', sans-serif;
	font-size:5rem;
	color:rgba(195, 1, 1, 1);
	margin-bottom:6rem;
	background-color:rgba(0, 0, 0, 0.5);
	z-index:1;
	animation: loser 3s linear;
	display:none;
}
.cardEffect{
	font-family: 'Boogaloo', cursive;
	color: black;
	font-size:2.5rem;
	text-align:center;
	text-transform:uppercase;
	text-shadow: 0px 0px 2px white;
}

/* RESPONSIVE PC BECODE  */
@media screen and (max-width:1400px){
	.princesseLogo{
		max-width:10rem;
		animation:pulse 5s infinite linear;
	}
#card {
		position: absolute;
		right:30rem;
		top:20rem;
		min-width:9rem;
		max-width:9rem;
		animation: play1A 0.7s forwards linear;
	}
	#card5>img{
		position: absolute;
		right:23rem;
		top:23rem;
		min-width:7rem;
		max-width:7rem;
	}
	#card5{
		display:none;
	}
	#card2{
		display:none;
	}
#card2>img {
		position: absolute;
		left:15rem;
		top:0;
		min-width:10rem;
		max-width:10rem;
		animation: play1B 2s forwards ;
	}
	#card3{
		display:none;
	}
#card3>img {
		position: absolute;
		left:15rem;
		top:0;
		min-width:10rem;
		max-width:10rem;
		animation: play1C 5.6s forwards ;
	}
	#card4>img{
		position: absolute;
		display:none;
		right:36rem;
		top:0;
		min-width:10rem;
		max-width:10rem;
		animation: play1D 5.6s forwards ;
	}
	.cardPack{
		position: absolute;
		max-width:10rem;
		right:5rem;
		top:12rem;
	}
	.toggleButton{
		position:absolute;
		right:5rem;
		top:28rem;
		background-image:url('https://bobandsuewilliams.com/images/black-red-1.jpg');
		background-size: cover;
		color:white;
		width:10rem;
		height:3rem;
		/* border-style: solid;
		border-color: black; */
	}
	.focusPlayer{
		display:none;
	}
#focusPlayer2{
	position:absolute;
	right:24rem;
	top:12rem;
	background-image:url('https://bobandsuewilliams.com/images/black-red-1.jpg');
	background-size: cover;
	color:white;
	width:10rem;
	height:3rem;
	/* border-style: solid;
	border-color: black; */
}
#focusPlayer3{
	position:absolute;
	right:24rem;
	top:16rem;
	background-image:url('https://bobandsuewilliams.com/images/black-red-1.jpg');
	background-size: cover;
	color:white;
	width:10rem;
	height:3rem;
	/* border-style: solid;
	border-color: black; */
}
#focusPlayer4{
	position:absolute;
	right:24rem;
	top:20rem;
	background-image:url('https://bobandsuewilliams.com/images/black-red-1.jpg');
	background-size: cover;
	color:white;
	width:10rem;
	height:3rem;
	/* border-style: solid;
	border-color: black; */
}
.priestEffect{
	display:none;
}
.baronEffect{
	display:none;
}
.princeEffect{
	display:none;
}
.kingEffect{
	display:none;
}
.cardEffect{
	margin-top:4rem;
	margin-right:14rem;
	animation:loser 1s ;
}
.emplacement1 {
	position: absolute;
	max-width:8rem;
	right:37rem;
	top:3rem;
	background-color: rgba(255, 255, 255, 0.1);
	filter:drop-shadow(3px 3px 4px black);
}
.emplacement2{
	position: absolute;
	max-width:8rem;
	right:37rem;
	top:20rem;
	background-color: rgba(255, 255, 255, 0.1);
	filter:drop-shadow(3px 3px 4px black);
}
#input2{
	position: absolute;
	max-width:8rem;
	right:46rem;
	bottom:18rem;
	max-width:7rem;
	padding:0.3rem;
	display:none;
	border-style:none;
}
.emplacement3{
	position: absolute;
	max-width:8rem;
	right:55rem;
	top:20rem;
	background-color: rgba(255, 255, 255, 0.1);
	filter:drop-shadow(3px 3px 4px black);
	margin-right:0;
}
.emplacement4{
	position: absolute;
	max-width:8rem;
	right:55rem;
	top:3rem;
	background-color: rgba(255, 255, 255, 0.1);
	filter:drop-shadow(3px 3px 4px black);
	margin-right:0;
}
#holdCards1>img{
	position:absolute;
	right:23rem;
	bottom:0;
	max-width:6rem;
}
#holdCards1:hover{
	cursor:pointer;
}
.welcomeLetters{
	position:absolute;
	opacity:0;
	left:39rem;
	top:16rem;
	width:2rem;
	animation:welcome 5s ;
}
.particles{
	width:95%;
	max-height:35rem;
	opacity:0.2;
	position:absolute;
	filter:drop-shadow(-3px -3px 4px green);
}
.looseBckg{
	position:absolute;
	right:0;
	left:0;
	padding-left:30rem;
	display:block;
	font-family: 'Wendy One', sans-serif;
	font-size:5rem;
	color:rgba(195, 1, 1, 1);
	margin-bottom:3rem;
	background-color:rgba(0, 0, 0, 0.5);
	z-index:1;
	animation: loser 3s linear;
	display:none;
}
.loose{
	filter: drop-shadow(0px 0px 1px white);
}
@keyframes play1A {
		0% {
				transform: scale(1.0);
				-webkit-transform: scale(1.0);
				right:20rem;
				bottom:32rem;
				opacity:0;
		}
		15%{
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
			right:20rem;
			bottom:8rem;
			opacity:1;
		}
		33%{
			transform:rotate(120deg);
		}
		66%{
			transform:rotate(240deg);
		}
		93%{
			opacity:1;
			right:28rem;
			top:14.1rem;
		}
		96%{
			transform: scale(0.85);
			-webkit-transform: scale(0.85);
			right:28rem;
			top:14.1rem;
		}
		100% {
			transform:rotate(360deg);
				transform: scale(0.642);
				-webkit-transform: scale(0.642);
				right:5.35rem;
				top:1rem;
		}
}
@keyframes play1B {
		0% {
				transform: scale(1.0);
				-webkit-transform: scale(1.0);
				right:20rem;
				bottom:32rem;
				opacity:0;
		}
		90%{
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
			left:7rem;
			bottom:8rem;
			opacity:0;
		}
		93%{
			opacity:1;
			left:12rem;
			top:14.1rem;
		}
		96%{
			transform: scale(0.85);
			-webkit-transform: scale(0.85);
			left:12rem;
			top:14.1rem;
			transform: rotate(180deg);
		}
		99%{
			transform: rotate(360deg);
		}
		100% {
				transform: scale(0.7);
				-webkit-transform: scale(0.7);
				left:21.3rem;
				top:18.2rem;
		}
}
@keyframes play1C {
		0% {
				transform: scale(1.0);
				-webkit-transform: scale(1.0);
				right:20rem;
				bottom:32rem;
				opacity:0;
		}
		90%{
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
			left:7rem;
			top:0;
			opacity:0;
		}
		93%{
			opacity:1;
			left:12rem;
			top:0.1rem;
		}
		96%{
			transform: scale(0.85);
			-webkit-transform: scale(0.85);
			left:12rem;
			top:0.1rem;
			transform: rotate(180deg);
		}
		99%{
			transform: rotate(360deg);
		}
		100% {
				transform: scale(0.7);
				-webkit-transform: scale(0.7);
				left:21.3rem;
				top:1.2rem;
		}
}
@keyframes play1D {
		0% {
				transform: scale(1.0);
				-webkit-transform: scale(1.0);
				right:20rem;
				top:0;
				opacity:0;
		}
		90%{
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
			right:20rem;
			top:0rem;
			opacity:0;
		}
		93%{
			opacity:1;
			right:28rem;
			top:0.1rem;
		}
		96%{
			transform: scale(0.85);
			-webkit-transform: scale(0.85);
			right:28rem;
			top:0.1rem;
			transform: rotate(180deg);
		}
		99%{
			transform: rotate(360deg);
		}
		100% {
				transform: scale(0.7);
				-webkit-transform: scale(0.7);
				right:36rem;
				top:1.2rem;
		}
	}
}
/*FIN RESPONSIVE PC BECODE */




/* @keyframes welcome1{
	0%{
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
		display:block;
	}
	50%{
		transform:rotate(360deg);
		transform: scale(40.0);
		-webkit-transform: scale(40.0);
		left:56rem;
	}
	100%{
		transform: scale(40.0);
		-webkit-transform: scale(40.0);
		display:none;
		left:58rem;
	}
} */
@keyframes welcome{
	0%{
		opacity:0;
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
		display:block;
	}
	50%{
		transform:rotate(360deg);
		transform: scale(40.0);
		-webkit-transform: scale(40.0);
		left:39rem;
		opacity:1;
	}
	100%{
		transform: scale(40.0);
		-webkit-transform: scale(40.0);
		left:42rem;
		display:none;
		opacity:0;
	}
}


@keyframes appear{
	0%{
		opacity:0;
	}
	89%{
		opacity:0;
	}
	95%{
		opacity:0
	}
	96%{
		opacity:1;
	}
97%{
	opacity:1;
}
	98%{
		opacity:1;
	}
	99%{
		opacity:0;
	}
	100%{
		opacity:0;
	}
}
@keyframes pulse{
	0%{
		opacity:1;
	}
	50%{
		opacity:0.5;
	}
	100%{
		opacity:1;
	}
}
@keyframes play1 {
		0% {
				transform: scale(1.0);
				-webkit-transform: scale(1.0);
				right:32rem;
				opacity:0;
				top:36rem;
		}
		15%{
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
			bottom:8rem;
			opacity:1;
		}
		33%{
			transform:rotate(120deg);
		}
		66%{
			transform:rotate(240deg);
		}
		90%{
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
			right:32rem;
			top:36rem;
		}
		93%{
			opacity:1;
			right:32rem;
			top:36rem;
		}
		96%{
			transform: scale(0.85);
			-webkit-transform: scale(0.85);
			right:32rem;
			top:36rem;
		}
		100% {
				transform: scale(0.95);
				-webkit-transform: scale(0.95);
				right:47.4rem;
				top:30rem;
				transform:rotate(360deg);
		}
}
@keyframes loser{
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}
